{% extends 'layout.html' %}

{% block title %}Create{% endblock %}

{% block body %}
    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        {% if message %}
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    alert("{{ message|escapejs }}");
                });
            </script>
        {% endif %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="title" placeholder="Title" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="description" placeholder="Description">
        </div>
        <div class="form-group">
            <label for="deadline">Deadline:</label>
              <input type="datetime-local" class="form-control" name="deadline" placeholder="Deadline" required>
        </div>
        <input class="btn btn-primary" type="submit" value="Create">
    </form>
{% endblock %}
